.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-alpha-200);
  position: sticky;
  top: 0;
  padding: 0 20px;
}

.control {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-crimson-text);
  font-size: 16px;
  font-weight: bold;
}

.logo {
  display: block;
  position: absolute;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
