.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 700px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > * {
    background-color: var(--background);
  }
}

.content {
  flex-grow: 1;
}

@media screen and (min-width: 700px) {
  .container {
    padding: 30px 0;
  }
  .wrapper {
    border: 1px solid var(--gray-alpha-200);
  }
}
